# ignore everything here, except this file
# it should just be a copy of the prob_examples repository anyway
*
!.gitignore

# It may be handy to share the .excludes files, so we keep it
!*.excludes

# As some files in the examples cause problems with ProB 2 if they want to include a nonexistent file, 
# I put a copy of it here. The source code provides a utility tool, that distributes it in each subdirectory
# to ensure, that this is no longer a problem anymore.
!LibraryIO.def
